@import './reset';
@import './themes/dark';
@import './themes/light';
@import './variables/globals';

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100svh;
}