.SidebarItem {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
}

.isCollapsed {
  .link {
    opacity: 0;
    width: 0;
    transition: 0.2s opacity;
  }
}